<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebook.mapper.BoardMapper">
    <select id="page_per_board" resultType="com.codebook.domain.BoardDTO">
        SELECT C.* FROM (SELECT B.*,ROWNUM rnum FROM (SELECT A.* FROM BOARD A ORDER BY BNO)B)C WHERE rnum BETWEEN #{start_row} AND #{end_row}
    </select>
<select id="board_detail" resultType="com.codebook.domain.BoardDTO">
    SELECT * FROM BOARD WHERE BNO = #{bno}
</select>
<select id="all_board" resultType="int">
    SELECT COUNT(*) FROM BOARD
</select>

</mapper>
