<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebook.mapper.BoardMapper">
    <select id="page_per_board" resultType="com.codebook.domain.BoardDTO">
        SELECT D.*,PROFILE.NICKNAME FROM(SELECT C.* FROM (SELECT B.*,ROWNUM rnum FROM (SELECT A.* FROM BOARD A ORDER BY BNO DESC)B)C WHERE rnum BETWEEN #{start_row} AND #{end_row})D INNER JOIN PROFILE ON D.email = PROFILE.email
    </select>
<select id="board_detail" resultType="com.codebook.domain.BoardDTO">
    SELECT A.*,PROFILE.NICKNAME FROM (SELECT * FROM BOARD WHERE BNO = #{bno})A INNER JOIN PROFILE ON A.EMAIL = PROFILE.EMAIL
</select>
<select id="all_board" resultType="int">
    SELECT COUNT(*) FROM BOARD
</select>

</mapper>
