<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebook.mapper.CommentMapper">
    <select id="comment" resultType="com.codebook.domain.CommentDTO">
        SELECT A.*,PROFILE.NICKNAME FROM (SELECT * FROM BOARDCOMMENT  WHERE BNO = #{bno} ORDER BY WRITEDATE ASC)A INNER JOIN PROFILE ON A.EMAIL = PROFILE.EMAIL
    </select>
</mapper>
