<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebook.mapper.MemberMapper">
    <insert id="insert_member">
        INSERT INTO MEMBER(EMAIL, PASSWORD, ROLE, STATUS, TOKEN) VALUES(#{email}, #{password}, #{role}, #{status}, #{token})
    </insert>

    <insert id="insert_profile">
        INSERT INTO PROFILE(EMAIL, NICKNAME) VALUES(#{email}, #{nickname})
    </insert>

    <update id="update_Token">
        UPDATE MEMBER SET TOKEN = #{token, jdbcType=VARCHAR} WHERE EMAIL = #{email}
    </update>

    <select id="duplicateCheckMemberEmail" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{ email }
    </select>

    <select id="findMemberByEmail" resultType="com.codebook.domain.MemberDTO">
        SELECT * FROM MEMBER WHERE EMAIL = #{ email }
    </select>
</mapper>
