<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebook.mapper.MemberMapper">
    <insert id="insert_member">
        INSERT INTO MEMBER(EMAIL, PASSWORD, ROLE, STATUS, TOKEN) VALUES(#{email}, #{password}, #{role}, #{status}, #{token})
    </insert>

    <insert id="insert_profile">
        INSERT INTO PROFILE(EMAIL, NICKNAME) VALUES(#{email}, #{nickname})
    </insert>
    <delete id="delete_following">
        DELETE FROM FOLLOW WHERE FROMMEMBEREMAIL = #{from} AND TOMEMBEREMAIL = #{to}
    </delete>

    <select id="findProfileByEmail" parameterType="string" resultType="com.codebook.domain.MemberProfileDTO">
        SELECT NICKNAME, FOLLOWER, ABOUTME, PICTUREPATH FROM PROFILE WHERE EMAIL = #{email}
    </select>

    <update id="update_Token">
        UPDATE MEMBER SET TOKEN = #{token, jdbcType=VARCHAR} WHERE EMAIL = #{email}
    </update>

    <select id="duplicateCheckMemberEmail" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{ email }
    </select>

    <select id="findMemberByEmail" resultType="com.codebook.domain.MemberDTO">
        SELECT * FROM MEMBER WHERE EMAIL = #{ email }
    </select>

    <update id="update_ProfileInfo" parameterType="com.codebook.domain.MemberProfileDTO">
        UPDATE PROFILE SET NICKNAME = #{nickname}, ABOUTME = #{aboutMe} WHERE EMAIL = #{email}
    </update>

    <update id="update_ProfileFollower" parameterType="com.codebook.domain.MemberProfileDTO">
        UPDATE PROFILE SET FOLLOWER = (SELECT COUNT(*) FROM FOLLOW WHERE tomemberemail = #{email}) WHERE EMAIL = #{email}
    </update>

    <insert id="insert_picture">
        INSERT INTO PICTURE(PICTUREPATH, EMAIL, ORIGINALFILENAME, FILESIZE) VALUES(#{storedFilePath}, #{email} ,#{originalFileName}, #{fileSize})
    </insert>

    <insert id="insert_follow">
        INSERT INTO FOLLOW(FROMMEMBEREMAIL, TOMEMBEREMAIL) VALUES (#{from}, #{to})
    </insert>

    <select id="duplicate_following" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM FOLLOW WHERE FROMMEMBEREMAIL = #{from} AND TOMEMBEREMAIL = #{to}
    </select>

    <update id="update_ProfileImg" parameterType="com.codebook.domain.UploadImgFileDTO">
        UPDATE PROFILE SET PICTUREPATH = #{storedFilePath} WHERE EMAIL = #{email}
    </update>

    <select id="findProfileByNickname" parameterType="string" resultType="com.codebook.domain.MemberProfileDTO">
        SELECT * FROM PROFILE WHERE NICKNAME LIKE '%'||#{nickname}||'%'
    </select>
    <select id="select_nickname" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM PROFILE WHERE NICKNAME = #{nickname}
    </select>

</mapper>
