<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebook.mapper.MemberMapper">
    <insert id="insert_member">
        INSERT INTO MEMBER VALUES(#{email}, #{password}, #{nickname}, #{role}, #{status}, #{token})
    </insert>

    <select id="duplicateCheck" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{ email }
    </select>

    <select id="findMemberByEmail" resultType="com.codebook.domain.MemberDTO">
        SELECT * FROM MEMBER WHERE EMAIL = #{ email }
    </select>
</mapper>
